body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    margin: 0px;
    padding: 0px;
}

.head {
    margin-top: 30px;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-color: bisque;
    border-radius: 100cm 100cm 75cm 75cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hair {
    width: 100%;
    height: 17.75rem;
    margin-bottom: 20rem;
    border-radius: 100cm 100cm 50cm 50cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hairBack,
.hairStroke,
.extraHairRight {
    position: absolute;
    background-color: rgb(46, 23, 7);
    border-radius: 100%;
}

.hairBack {
    width: 27.5rem;
    height: 17.75rem;
    z-index: -1;
    border-radius: 100cm 100cm 50cm 50cm;
}

.left.hairStroke {
    width: 16rem;
    height: 8rem;
    margin-bottom: 5rem;
    margin-right: 12.5rem;
    transform: rotate(-45deg);
}

.right.hairStroke {
    width: 17.5rem;
    height: 10rem;
    margin-bottom: 3rem;
    margin-left: 11rem;
    transform: rotate(45deg);
}

.extraHairRight {
    width: 6rem;
    height: 9rem;
    margin-bottom: -5.5rem;
    margin-left: 19rem;
    transform: rotate(-60deg);
}

.eyes,
.brows,
.connections,
.ears,
.nose,
.moustache,
.coatNeckThings,
.coatLines,
.arms {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
}

.eye {
    background-color: white;
    width: 6rem;
    height: 4rem;
    border-radius: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(129, 122, 113);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iris {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: gray;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupil {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    background-color: black;
    margin-right: .5rem;
}

.brows {
    margin-bottom: 50px;
}

.brow,
.connection {
    border-top-style: solid;
    border-color: rgb(46, 23, 7);
}

.brow {
    width: 6rem;
    height: 3rem;
    border-width: 0.75rem;
    border-radius: 30%;
}

.connections {
    margin-left: 4rem;
    margin-top: 0.75rem;
    width: 10rem;
}

.connection {
    width: 5rem;
    height: 3rem;
    border-width: 0.75rem;
    border-radius: 10% 10%;
}

.left.connection {
    transform: rotate(10deg);
}

.right.connection {
    transform: rotate(-10deg);
}

.ears {
    width: 27.5rem;
    z-index: -1;
    margin-bottom: 1.5rem;
}

.ear {
    width: 3rem;
    height: 8rem;
    border-radius: 100%;
    background-color: rgb(214, 189, 158);
}

.nose {
    margin-top: 5rem;
    width: 4rem;
}

.noseSide,
.noseCenter {
    position: absolute;
    border-bottom-style: solid;
    width: 4rem;
    height: 8rem;
    border-radius: 40%;
    border-color: rgb(214, 189, 158);
}


.left.noseSide {
    transform: rotate(-30deg);
}

.right.noseSide {
    transform: rotate(30deg);
}

.noseCenter {
    margin-top: 1rem;
    background-color: bisque;
    z-index: 2;
}

.moustache {
    justify-content: center;
    margin-top: 16rem;
    width: 5rem;
    height: 5rem;

    transform: scaleY(.30);
}

.actualMoustache {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-style: solid;
    border-left-style: solid;
    border-radius: 20% 20% 100% 20%;
    border-width: 6rem;
    border-color: rgb(46, 23, 7);
    transform: rotate(45deg);
}

.mouth {
    margin-top: 18.5rem;
    position: absolute;
    width: 10rem;
    height: 1rem;
    border-radius: 25% 0%;
    border-bottom-style: solid;
}

.neck {
    position: absolute;
    background-color: darkred;
    width: 15rem;
    height: 7rem;
    margin-top: 37.5rem;
    z-index: -1;
}

.body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 42, 11);
    width: 40rem;
    height: 90rem;
    margin-top: 132.5rem;
    overflow: hidden;
}

.shirt {
    background-color: darkred;
    height: 90%;
    width: 30%;
    margin-bottom: 25%;
}

.coatLines {
    width: 22rem;
    height: 100%;
}

.coatLine {
    height: 100%;
    width: 5rem;
    background-color: antiquewhite;
}

.coatNeckThings {
    width: 26rem;
    height: 7.5rem;
    margin-top: 35rem;
    z-index: -1;
}

.coatNeckThing {
    height: 100%;
    width: 7rem;
    background-color: antiquewhite;
}

.right.coatNeckThing {
    border-top-right-radius: 50%;
}

.left.coatNeckThing {
    border-top-left-radius: 50%;
}

.bottomRim {
    position: absolute;
    width: 100%;
    height: 3rem;
    margin-top: 87.5rem;
    background-color: antiquewhite;
}

.darkBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    height: 12.75%;
    width: 30%;
    margin-top: 82.5rem;
}

.fakeBadge {
    position: absolute;
    background-color: rgb(119, 72, 39);
    width: 8rem;
    height: 6rem;
    border-radius: 30% 100% 100% 30%;
    margin-left: 2.7rem;
    margin-top: 2.7rem;

    transform: rotate(20deg);
}

.arms {
    width: 60rem;
    margin-top: 162.5rem;
}

.arm {
    width: 10rem;
    height: 120rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upperArm,
.lowerArm {
    width: 100%;
    height: 45%;
    background-color: rgb(85, 42, 11);
    display: flex;
}

.upperArm {
    align-items: flex-start;
}

.lowerArm {
    align-items: flex-end;
}

.right.upperArm {
    border-top-right-radius: 60%;
}

.left.upperArm {
    border-top-left-radius: 60%;
}

.sleeve {
    position: absolute;
    margin-top: 2rem;
    height: 5rem;
    width: 10rem;
    background-color: antiquewhite
}

.hand {
    width: 80%;
    height: 10%;
    background-color: bisque;
}