/* Both the body and the portrait need to have their display set to flex, since both have something.*/
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
}

.portrait {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    z-index: -50;

    transform: scale(100%, 100%);
}

/*The invisible buttons are here, because they serve a different function than be a part of the portrait.*/
/*They allow some animations to be played when the viewer clicks certain locations.*/

.rightArmButton {
    position: absolute;
    margin-top: 145rem;
    margin-left: 50rem;
    height: 100rem;
    width: 10rem;
    z-index: 15;
    background-color: transparent;
    border-style: none;
}

.noseButton {
    position: absolute;
    margin-top: 10rem;
    width: 6rem;
    height: 6rem;
    z-index: 15;
    background-color: transparent;
    border-style: none;
}

.head {
    margin-top: 30px;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-color: bisque;
    border-radius: 100cm 100cm 75cm 75cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*The settings for the hair*/

.hair {
    width: 100%;
    height: 17.75rem;
    margin-bottom: 20rem;
    border-radius: 100cm 100cm 50cm 50cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Thought it will be better if I group those styles together.*/

.hairBack,
.hairStroke,
.extraHairRight {
    position: absolute;
    background-color: rgb(46, 23, 7);
    border-radius: 100%;
}

.hairBack {
    width: 27.5rem;
    height: 17.75rem;
    z-index: -1;
    border-radius: 100cm 100cm 50cm 50cm;
}


/*There are few strokes of hair that are infront of my face.*/

.left.hairStroke {
    width: 16rem;
    height: 8rem;
    margin-bottom: 5rem;
    margin-right: 12.5rem;
    transform: rotate(-45deg);
}

.right.hairStroke {
    width: 17.5rem;
    height: 10rem;
    margin-bottom: 3rem;
    margin-left: 11rem;
    transform: rotate(45deg);
}

.extraHairRight {
    width: 6rem;
    height: 9rem;
    margin-bottom: -5.5rem;
    margin-left: 19rem;
    transform: rotate(-60deg);
}

/*The pairing elements share the same flex settings for the most part.*/

.eyes,
.brows,
.connections,
.ears,
.nose,
.moustache,
.coatNeckThings,
.coatLines,
.arms {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
}

.eye {
    background-color: white;
    width: 6rem;
    height: 4rem;
    border-radius: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: rgb(129, 122, 113);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    /*Blink every 15 seconds. The animation is setup to have some lengthy periods of nothing,
    allowing for periodic blinking when setting a longer animation duration.*/
    animation: blink 15s linear 0s infinite;
}

/*Everyone says I have blue eyes, but they are gray.*/

.iris {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: gray;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pupil {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    background-color: black;
    margin-right: .5rem;
}

.brows {
    margin-bottom: 50px;
}

/*Not the most ideal brow setup, but it is close enough.*/

.brow,
.connection {
    border-top-style: solid;
    border-color: rgb(46, 23, 7);
}

.brow {
    width: 6rem;
    height: 3rem;
    border-width: 0.75rem;
    border-radius: 30%;
}

.connections {
    margin-left: 4rem;
    margin-top: 0.75rem;
    width: 10rem;
}

.connection {
    width: 5rem;
    height: 3rem;
    border-width: 0.75rem;
    border-radius: 10% 10%;
}

.left.connection {
    transform: rotate(10deg);
}

.right.connection {
    transform: rotate(-10deg);
}

/*Simple ears*/

.ears {
    width: 27.5rem;
    z-index: -1;
    margin-bottom: 1.5rem;
}

.ear {
    width: 3rem;
    height: 8rem;
    border-radius: 100%;
    background-color: rgb(214, 189, 158);
}

/*Those nose divs allow for a more realistic looking nose.*/

.nose {
    position: absolute;
    margin-top: 5rem;
    width: 4rem;
}

.noseSide,
.noseCenter {
    position: absolute;
    border-bottom-style: solid;
    width: 4rem;
    height: 8rem;
    border-radius: 40%;

    border-color: rgb(214, 189, 158);

    background-color: transparent;
}


.left.noseSide {
    transform: rotate(-30deg);
}

.right.noseSide {
    transform: rotate(30deg);
}

/*Only the center needs to have a background color so it can cover the other nose sides' borders*/
.noseCenter {
    margin-top: 1rem;
    background-color: bisque;
    z-index: 2;
}

.moustache {
    justify-content: center;
    margin-top: 16rem;
    width: 5rem;
    height: 5rem;
    /* Here is where the moustache is squished.*/
    transform: scaleY(.30);
}

.actualMoustache {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-style: solid;
    border-left-style: solid;
    border-radius: 20% 20% 100% 20%;

    /* Border width is adjusted depending on the scale setting on .moustache.*/
    border-width: 6rem;
    border-color: rgb(46, 23, 7);
    transform: rotate(45deg);
}

/* I opted for a simple stroke for the mouth.*/
.mouth {
    margin-top: 18.5rem;
    position: absolute;
    width: 10rem;
    height: 1rem;
    border-radius: 25% 0%;
    border-bottom-style: solid;
}

.neck {
    position: absolute;
    background-color: darkred;
    width: 15rem;
    height: 7rem;
    margin-top: 37.5rem;
    z-index: -1;
}

.body {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 42, 11);
    width: 40rem;
    height: 90rem;
    margin-top: 132.5rem;
    overflow: hidden;
}

.shirt {
    background-color: darkred;
    height: 90%;
    width: 30%;
    margin-bottom: 25%;
}

/*These coat lines are the coat's internal side being visible outside.*/

.coatLines {
    width: 22rem;
    height: 100%;
}

.coatLine {
    height: 100%;
    width: 5rem;
    background-color: antiquewhite;
}

/*Doesn't look good.*/

.coatNeckThings {
    width: 26rem;
    height: 7.5rem;
    margin-top: 35rem;
    z-index: -1;
}

.coatNeckThing {
    height: 100%;
    width: 7rem;
    background-color: antiquewhite;
}

.right.coatNeckThing {
    border-top-right-radius: 50%;
}

.left.coatNeckThing {
    border-top-left-radius: 50%;
}

/*My coat actually doesn't have a bottom rim, but I added one anyway.*/

.bottomRim {
    position: absolute;
    width: 100%;
    height: 3rem;
    margin-top: 87.5rem;
    background-color: antiquewhite;
}

/*Here's where the Dark Background box is used and positioned.*/

.darkBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
    height: 12.75%;
    width: 30%;
    margin-top: 82.5rem;
}

.fakeBadge {
    position: absolute;
    background-color: rgb(119, 72, 39);
    width: 8rem;
    height: 6rem;
    border-radius: 30% 100% 100% 30%;
    margin-left: 2.7rem;
    margin-top: 2.7rem;

    transform: rotate(20deg);
}

.arms {
    width: 60rem;
    margin-top: 142.5rem;
}

.arm {
    width: 10rem;
    height: 120rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.upperArm,
.lowerArm {
    width: 100%;
    height: 50rem;
    background-color: rgb(85, 42, 11);
    display: flex;
}

.upperArm {
    align-items: flex-start;
}

/* All visual details on the lower arm is moved to the sleeve, sleeve end and the hand.*/
.lowerArm {
    align-items: center;
    justify-content: end;
    flex-direction: column;
    background-color: transparent;
}

.right.upperArm {
    border-top-right-radius: 60%;
}

.left.upperArm {
    border-top-left-radius: 60%;
}

.sleeve {
    width: 100%;
    height: 60%;
    background-color: rgb(85, 42, 11);
}

.sleeveEnd {
    width: 100%;
    height: 15%;
    background-color: antiquewhite;
}

/*A simple bisque box will represent a hand.*/
.hand {
    width: 8rem;
    height: 25%;
    background-color: bisque;
}

/*Animations*/

@keyframes blink {
    0% {
        height: 4rem;
    }

    /* This gives a nice delay between blinks.*/
    49% {
        height: 4rem;
    }

    /* Blink.*/
    50% {
        height: 0rem;
    }

    51% {
        height: 4rem;
    }

    100% {
        height: 4rem;
    }
}

/* Slap */

/* An attempt at recreating the motions for slapping a hand.*/
@keyframes moveUpperArm {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: translateY(-10rem) rotate(45deg);
        height: 25rem;
    }

    75% {
        transform: translateY(-10rem) rotate(45deg);
        height: 25rem;
    }

    100% {
        transform: translateY(0rem) rotate(0deg);
        height: 50rem;
    }
}

@keyframes moveLowerArm {
    0% {
        transform: rotate(0deg);
    }

    /*First set the translation then the rotation.*/
    50% {
        transform: translate(-15rem, -16.5rem) rotate(45deg);
    }

    75% {
        transform: translate(-16rem, -17.5rem) rotate(405deg);
    }

    100% {
        transform: translate(0rem, 0rem) rotate(360deg);
    }
}


@keyframes lipMovement {
    0% {
        border-radius: 25% 0%;
    }

    50% {
        border-radius: 0% 0%;
    }

    100% {
        border-radius: 25% 0%;
    }
}

@keyframes disaprovingLookIris {
    0% {
        margin-right: 2rem;
    }

    50% {
        margin-right: 0rem;
    }

    100% {
        margin-right: 2rem;
    }
}

@keyframes disaprovingLookPupil {
    0% {
        margin-right: .5rem;
    }

    50% {
        margin-right: 0rem;
    }

    100% {
        margin-right: .5rem;
    }
}


.left.upperArm.slap {
    transform-origin: top right;
    animation: moveUpperArm 2s;
}

.left.lowerArm.slap {
    transform-origin: top right;
    animation: moveLowerArm 2s;
}

.mouth.slap {
    animation: lipMovement 4s;
}

.iris.slap {
    animation: disaprovingLookIris 4s;
}

.pupil.slap {
    animation: disaprovingLookPupil 4s;
}


/* Wave */

/* An attempt at recreating the motions for waving at someone.*/
/* It looks better than the slap.*/

@keyframes waveUpperArm {
    0% {
        transform: rotate(0deg);
    }

    /*Turn the upper arm slightly.*/
    50% {
        transform: (-15deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes waveLowerArm {
    0% {
        transform: rotate(0deg);
    }

    /*Waving motions*/
    50% {
        transform: translate(15rem, -3rem) rotate(-180deg);
    }

    50% {
        transform: translate(15rem, -3rem) rotate(-150deg);
    }

    60% {
        transform: translate(15rem, -3rem) rotate(-130deg);
    }

    65% {
        transform: translate(15rem, -3rem) rotate(-150deg);
    }

    75% {
        transform: translate(15rem, -3rem) rotate(-130deg);
    }

    100% {
        transform: translate(0rem, 0rem) rotate(0deg);
    }
}

/*Though those eye animations may be the same as the slap one, I think it is better to keep them here.*/

@keyframes wavedLookIris {
    0% {
        margin-right: 2rem;
    }

    50% {
        margin-right: 0rem;
    }

    100% {
        margin-right: 2rem;
    }
}

@keyframes waveLookPupil {
    0% {
        margin-right: .5rem;
    }

    50% {
        margin-right: 0rem;
    }

    100% {
        margin-right: .5rem;
    }
}

.right.upperArm.wave {
    transform-origin: top left;
    animation: waveUpperArm 2s;
}

.right.lowerArm.wave {
    transform-origin: top left;
    animation: waveLowerArm 2s;
}

.iris.wave {
    animation: wavedLookIris 4s;
}

.pupil.wave {
    animation: waveLookPupil 4s;
}

/*Responsiveness*/
/*Since I have the portrait box, I can resize the portrait with a single transform scale rule.*/
/*Unfortunately I need to adjust the invisible buttons too because they are outside the portrait.*/

@media screen and (max-width: 1200px) {

    .portrait,
    .noseButton,
    .rightArmButton {
        transform: scale(70%, 70%);
    }

    .noseButton {
        margin-top: 7rem;
    }

    .rightArmButton {
        margin-top: 102.5rem;
        margin-left: 35rem;
    }
}

@media screen and (max-width: 600px) {

    .portrait,
    .noseButton,
    .rightArmButton {
        transform: scale(40%, 40%);
    }

    .noseButton {
        margin-top: 4rem;
    }

    .rightArmButton {
        margin-top: 57.5rem;
        margin-left: 20rem;
    }
}